.root {
    -fx-background-color: #222;
    -fx-background-radius: 28;
}

.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15 15 15 15;
}

.highlightCard {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}

.performance-good {
    -fx-text-fill: #4CAF50 !important;
}

.performance-average {
    -fx-text-fill: #FF9800 !important;
}

.performance-poor {
    -fx-text-fill: #F44336 !important;
}

#languageSelector {
    -fx-background-radius: 15;
}